.section{
    /* background-color: slateblue; */
    min-height: 100vh;
}

/* ------------------- */
.contacto{
    padding-left: 270px; 
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}
.contact__item{
    /* background-color: red; */
    margin-top: 20px;
    flex: 0 0 49%;
    max-width: 49%;
    text-align: center;
}
    /* .contact__item .contact__item-inner{
        background-color: red; 
    } */
        .contact__item .contact__item-inner .icon{
            /* background-color: red; */
            display: inline-block;

        }
            .contact__item .contact__item-inner .icon .fa,
            .contact__item .contact__item-inner .icon .fab{
                font-size: 40px;
                color: #272343;
            }
            .contact__item .contact__item-inner .icon h4{
                font-size: 18px;
                font-weight: 700;
                line-height: 40px;
                margin: 15px 0 5px;
            }
            .contact__item .contact__item-inner .icon p{
                font-size: 18px;
                margin: 0;
                color: #272343;
            }

/* ====== Formulario ====== */

/* .formulario{
    padding: 20px 0;
    text-align: center;

}
.cont-form{
    flex:0 0 100%;
    max-width: 100%;
    display: flex;
    
}
    .cont-form .cl-6{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 10px 20px;
    }
        .cl-6 > input{
            width: 100%;
            max-width: 100%;
            padding: 0 20px;
            margin: 0;
        }

    .formulario .form-btn{
        width: 100%;
        height: 50px;
        border-radius: 20px;
        border: 1px solid #272343;
        padding: 0 20px;
    }

.cl-12{
    flex: 0 0 100%;
}
    .formulario > textarea{
        width: 100%;
        padding: 20px;
        height: 120px;
        font-size: 14px;
        font-family: sans-serif;
        border: 1px solid #1a1a1a;
        border-radius: 15px;
    }

    .btn__content{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .btn__content .btn{
        display: inline-block;
        background-color: var(--first-color);
        border-radius: 20px;
        padding:10px;
        color: var(--second-color);
        font-size: 16px;
        text-align: center;
        transition: all 0.3s ease;
        white-space: nowrap;
        width: 200px;
        font-family: sans-serif;
        border: none;
    }
    .btn__content .btn:hover{
        background-color: #BAE8E8;
        color: #1a1a1a;
    } */

/* alert para el formulario */
.alert{
    display: block;
    padding: 12px 20px;
    background-color: #f8d7f8;
    color: #721c72;
    /* width: 100%; */
    margin-bottom:10px;
    border: 1px solid #f5cbf5;
}