/* @import url("main.css"); */

/* === Inicio del header === */
.l-header{
    background-color: var(--second-color);
    width: 270px;
    height: 100%;
    position: fixed;
    z-index: var(--z-index);
    left: 0;
    top:0;
}

.active{    
    color: red;
    /* background-color: red; */
}

.aside{
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.nav{
    height: 100%;
    left: 0;
    top: 0;
    z-index: var(--z-index);
    padding: 30px;
    border-right: 1px solid var(--third-color);
    
}
    .nav__logo{
            height: 200px;
            width: 200px;
        }        
    .nav__list{
        /* background-color: var(--first-color); */
        margin: 30px 0; 
    }
        .nav__list .nav__item{
            display: block;
            text-align: center;
            border-bottom: 1px solid var(--first-color-light);
            /* padding: 5px 0; */
        }
        .nav__list .nav__item > a{
            font-size: 16px;
            font-weight: var(--font-medium);
            line-height: 45px;            
        }
        .nav__list .nav__item:hover{
            border-bottom: 1px solid var(--first-color);
            transition: all .3s ease;
            padding-left: 10px;
            
        }
        
        .nav__list .nav__item a:not(.active):hover{
            color: red;
        }

    .copyright__text{
        text-align: center;
        /* background-color: var(--four-color); */
        font-size: var(--small-font-size);
        padding-top: 50px;
    }

/* menu hamburguesa */
.nav__toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
    .aside .nav__toggle{
        height: 40px;
        width: 40px;
        border: 1px solid #d4d4e3;
        cursor: pointer;
        position: fixed;
        left: 300px;
        top: 30px;
        z-index: 30px;
        background-color: #ffffff;
        display: none;
        /* color: red; */
        justify-content: center;
    }

    .nav__close{
        position: relative;
        top: 30px;
        right: 30px;
    }
        .nav__menu .nav__close{
            height: 40px;
            width: 40px;
            border: 1px solid #d4d4e3;
            cursor: pointer;
            position: fixed;
            left: 200px;
            top: 30px;
            z-index: 30px;
            background-color: #1a1a1a;
            /* display: none; */
            justify-content: center;
        } 
    


/* ================ fin header y home ===========*/