/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');


/* Variables css */
:root {
    --header-height: 3rem;
    --nav-width: 324px;

    /* font weight  */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* colors */
    --first-color: #272343;
    --second-color: #FFFFFF;
    --third-color: #E3F6F5;
    --four-color: #BAE8E8;
    --text-color: #1a1a1a;
    --first-color-light: #eae7e6;
    --first-color-lighten: #fffafa;

    /* font and topography */
    --body-font: 'Work+Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.813rem;

    /* margenes */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* z-index */
    --z-index: 100;
}

/* estilos generales */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    /* margin: var(--header-height) 0 0 0; */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    /* background-color: var(--second-color); */
    /* color: var(--text-color); */
    line-height: 1.6;
    /* overflow: hidden; */
}

h1,h2,h3,p{
    margin: 0;
}

h3{
    font-weight: var(--font-semi-bold);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

/* ============    ===========*/
/* seccion de la derecha  */    
.l-main{
    padding-left: 270px; 
    /* background-color: red; */
    /* padding-right: 30px; */
}
.section{
    /* background-color: slateblue; */
    min-height: 100vh;
}



/* Pagina principal  */
    .home{
        min-height:100vh;
        display: flex;
    }   
        .container{
            max-width: 1100px;
            width: 100%;
            /* background-color: red; */
            margin: auto;
        }
            .container .intro{
                text-align: center;
            }
                .container .intro img{
                    display: inline-block;
                    height: 200px;
                    width: 200px;
                    border-radius: 50%;
                    border: 8px solid #302e4d;
                }
                .container .intro > h1{
                    font-size: var(--h1-font-size);
                    font-weight: var(--font-bold);
                    color: #54423D;    
                }
                .container .intro  p{
                    font-size: var(--normal-font-size);
                }
                
                .social__link{
                    margin-top: 20px;
                    /* padding:20px */
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }
                .social__link .link{
                    width: 35px;
                    height: 35px;
                    margin-right: 15px;
                    background-color: #302e4d;
                    text-align: center;
                    line-height: 20px;
                    color: var(--first-color-light);
                    border-radius: 50%;
                }
                .social__link .link:hover{
                    background-color: var(--four-color);
                    
                }
                
                .intro .social__link .link i{
                    text-align: center;
                    padding:10px 0;
                    font-size: 15px;
                    color: var(--second-color);
                }
                .intro .social__link .link i:hover{
                    color: #1a1a1a;
                }
                