/* @import url("main.css"); */
.section{
    /* background-color: slateblue; */
    min-height: 100vh;
}
.container{
    width: 100%;
    margin: auto;
    /* background-color: red; */
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px; 
    padding-bottom: 15px;
    width: 100%;
}


/* === portafolio === */
/* contenedor del portafolio */

.portafolio{
    padding-left: 270px;
    padding-right: 30px;
} 

    /* centra el marco de trabajo del portafolio */
    .portafolio .portafolio__filtro{
        max-width: 1100px;
        margin: auto;
        padding-bottom: 30px;
        /* background-color: red; */
        
    } 
    /* fila de botones para el filtro */
    .portafolio .portafolio__filtro button{
        border:none;
        background-color: transparent;
        font-size: var(--normal-font-size);
        color: var(--text-color);
        text-transform: capitalize;
        margin: 0 10px;
        color: #302e4d;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        white-space: nowrap;
    }
        .portafolio .portafolio__filtro button.active{
            border-color: red;
            color: red;
        }

        /* item de cada categoria */
        .portafolio .portafolio__item{
            /* background-color: red; */
            flex: 0 0 33.33%;
            max-width: 33.33%;
            margin-bottom: 30px;
            padding-right: 10px;
        }
        /* item para cada categoria para js */    
            .portafolio .portafolio__item.hide{
                display: none;
            }
            .portafolio .portafolio__item.show{
                display: block;
                animation: showItem 0.5s ease;
                
            }
            @keyframes showItem{
                0%{
                    transform: scale(0.8);
                    -webkit-transform: scale(0.8);
                    opacity: 0;
                }
                100%{
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    opacity: 1;
                }
            }
            @-webkit-keyframes showItem{
                0%{
                    transform: scale(0.8);
                    -webkit-transform: scale(0.8);
                    opacity: 0;
                }
                100%{
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    opacity: 1;
                }
            }
        /* fin de js */


        /* contenedor del item que contiene img y inner-info */    
        .portafolio .portafolio__item-inner{
            border:6px solid var(--first-color-light);
            border-radius: 10px;
            /* box-shadow:  7px 7px 5px 0px rgba(50, 50, 50, 0.75);; */
            cursor: pointer;
            overflow: hidden;
            position: relative;
        }
            .portafolio .portafolio__item-inner .portafolio-inner-img .port-inner-info{
                padding: 20px;
            }
            .portafolio .portafolio__item-inner .portafolio-inner-img .port-inner-info .port-title{
                font-size: 20px;
            } 
            .portafolio .portafolio__item-inner .portafolio-inner-img .port-inner-info .port-description{
                font-size: 16px;
                text-align: justify;
            }
            
            .portafolio .portafolio__item-inner .portafolio-inner-img img{
                width: 100%;
                display: block;
            }
        
        .portafolio .portafolio__item .portafolio-inner-info{
            /* display: none; */
            position: absolute;
            left: 0;
            top: 0; 
            background-color: rgba(0, 0, 0, .8);
            height: 100%;
            width: 100%;
            z-index: 1;
            padding: 30px; 
            opacity: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        } 
        .portafolio .portafolio__item .portafolio-inner-info:hover{
            opacity: 1;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
            .portafolio .portafolio__item .portafolio-inner-info h4{
                font-size: 18px;
                font-weight: 600;
                color: #ffffff;
                text-transform: capitalize;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                transform: translateX(-20px);
                -webkit-transform: translateX(-20px);
                opacity: 0;
            }
                .portafolio .portafolio__item-inner:hover .portafolio-inner-info h4{
                    transform: translateX(0px); 
                    -webkit-transform: translateX(0px);
                    opacity: 1;   
                }

            .portafolio .portafolio__item .portafolio-inner-info .icon{
                height: 40px;
                width: 150px;
                background-color: #ffffff;
                color:#1a1a1a;
                text-align: center;
                padding: 9px 0;
                /* border-radius: 50%; */
                position: absolute;
                right: 30px;
                bottom: 30px;
                transform: translateX(-20px);
                -webkit-transform: translateX(-20px);
                opacity: 0;
                font-size: 16px;
                font-weight: 700;
            }
            .portafolio .portafolio__item .portafolio-inner-info .icon:hover{
                background-color: #BAE8E8;
            }
                .portafolio .portafolio__item-inner:hover .portafolio-inner-info .icon{
                    transform: translateX(0px);
                    -webkit-transform: translateX(0px);
                    opacity: 1;
                }
        /* fin contenedor del item que contiene img y inner-info */        


/* ====== lightbox ====== */ 
.lightbox{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 100;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    cursor: zoom-out;
    padding:  30px;
}
.lightbox.open{
    display: flex;
}
    .lightbox__content{
        position: relative;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .lightbox.open .lightbox__content{
        animation: lightboxImage 0.5s ease;
    }
    @keyframes lightboxImage{
        0%{
            transform: scale(0.8);
            -webkit-transform:scale(0.8);
        }
        100%{
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
    @-webkit-keyframes lightboxImage{
        0%{
            transform: scale(0.8);
            -webkit-transform:scale(0.8);
        }
        100%{
            transform: scale(1);
            -webkit-transform: scale(1);
        }
    }


        .lightbox .lightbox__content img{
            height: auto;
            width: auto;
            max-height: 430px;
            max-width: 100%;
            cursor: pointer;
            display: block; /* <-- */
        }
        /* cajita para cerra x */
        .lightbox .lightbox__content .lightbox-close{
            position: absolute;
            height: 40px;
            width: 40px;
            /* background-color: red; */
            top: -40px;
            right: 0;
            font-size: 16px;
            text-align: center;
            color:#ffffff;
            line-height: 40px;
            cursor: pointer;
        }

        .lightbox .lightbox__content .lightbox-caption{
            position: absolute;
            bottom: -20px;
            width: 100%;
            left: 0;
            /* background-color: red; */
            display: flex;
            justify-content: space-between;
            color: #ffffff;
            font-weight: 600;
            
        }
        


    /* botones de atra y adelante para el lightbox */
    .lightbox .lightbox__controls .prev-item,
    .lightbox .lightbox__controls .next-item{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        top: 50%;
        text-align: center;
        background-color: #ffffff;
        color:#1a1a1a;
        cursor: pointer;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }
    .lightbox .lightbox__controls .prev-item{
        left: 30px;
    }
    .lightbox .lightbox__controls .next-item{
        right: 30px;
    }
        .lightbox .lightbox__controls .prev-item:active,
        .lightbox .lightbox__controls .next-item:active{
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
        }

    .lightbox .lightbox__controls .prev-item .fa,
    .lightbox .lightbox__controls .next-item .fa{
        font-size: 30px;
        line-height: 40px ;
        color: #ffffff;
    } 


/* ===== fin de lightbox ====== */






