.container .intro img {
    border: 8px solid #641E16;
}

.cv__info .btn, .btn__content .btn,
.blog__item .blog-inner-img .blog-inner-date,
.skill__list .skill__item .progress .progress-in,
.section__title h2::before,
.social__link .link{
    background-color: #641E16;
}


.portafolio .portafolio__filtro button.active, 
.blog-inner-info .blog-tags a, 
.contact__item .contact__item-inner .icon .fa,
.contact__item .contact__item-inner .icon .fab{
    color: #641E16;
    border-color: #641E16;
}

.skills .skills__title h3{
    border-bottom: 2px solid #641e16;
}


/* item de la página procesamiento (nlp) */
.blog-inner-info .blog-tags a{
    background-color: #641e16;
    color: #ffffff;
}

.nlp .item .item__btn a{
    background-color:#641E16;
}
.nlp .item .item__btn a:hover{
    background-color: #BAE8E8;
    color: #1a1a1a;
}