/* ==== switch ===== */
.switcher{
    background-color: #fff;
    position: fixed;
    right: 0;
    top:20px;
    z-index: 10;
    padding:15px;
    border:1px solid #d4d4e3;
    border-right: none;
    border-radius: 0 0 0 5px;
    transition: all 0.5s ease;
    -webkit-transition: all .5s ease;
    transform: translateX(100%);
    -webkit-transform:translateX(100%);
    
}
.switcher.open{
    transform: translateX(0%);
    -webkit-transform:translateX(0%);
}


    .switcher > h5{
        font-size: 16px;
        margin-bottom: 5px;
        border-bottom: 1px solid #1a1a1a;
        color:#1a1a1a;
    }

    .switcher ul{
        margin: 0;
        padding: 0;
        display: block;
    }
    .switcher ul li{
        display: inline-block;
    }
    .switcher ul li a{
        height: 30px;
        width: 30px;
        display: block;
        cursor: pointer;
        text-decoration: none;
        margin-right: 10px;
        border-radius: 50%;
    }
    
.switcher .toggle-style-switcher{
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: #fff;
    left: -45px;
    top: 0px;
    border: 1px solid #d4d4e3;
    border-right: none;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

.switcher .toggle-style-switcher .fa{
    font-size: 20px;
    line-height: 43px;   
    padding: 0 10px;
    color: #1a1a1a;
}
/* ==== fin switch ===== */



/* ==== boton para cambiar fondo ==== */
.switch{
    background-color: #330022;
    border-radius: 1000px;
    display: flex;
    justify-content: space-between;
    border:none;
    position: relative;
    width: 100%;
    outline: none;    
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;    
}

.switch::after{
    content:"";
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.switch.active{
    background-color: tomato;
    color: #1a1a1a;
}
    .switch.active::after{
        right: 0;
        left: unset;
    }

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
    text-align: center;
    
}
/* ==== fin boton para cambiar fondo ==== */


/* ===== tema oscuro ===== */
/* clase oscuro */
.dark{
    background-color: #1a1a1a;
}

/* body */
body.dark{
    color:#f1f1f1;
}


body.dark .container .intro > h1,
body.dark .section__title h2,
body.dark .about .about__content .about__text h3,
body.dark .about .about__content .about__text p,
body.dark .skills .skills__title h3,
body.dark .skill__list .skill__item > h5, 
body.dark .portafolio .portafolio__filtro button,
body.dark .contact__item .contact__item-inner .icon p
{
    color:#f1f1f1;
} 
body.dark .blog-inner-info .blog-info-title{
    color: #f1f1f1;
    font-weight: 700;
    text-transform: uppercase;
}

body.dark .blog__item-inner{
    border: 1px solid #f1f1f1;
}
body.dark .nav__list .nav__item:hover{
    border-bottom: 1px solid #BAE8E8;
}
body.dark .nav__toggle {
    color: #1a1a1a;
}


body.dark .active,body.dark .nav__list .nav__item a:not(.active):hover{
    color: #BAE8E8;
    border-color: #BAE8E8;
}



/* nav */
nav.dark{
    color:#f1f1f1;
}

nav.dark .nav__list .nav__item > a{
    color:#f1f1f1;
}


/* ===== fin tema oscuro ===== */

/* Tema oscuro para nlp */
body.dark .item{
    border: 1px solid #fff;
}
body.dark .nlp__contenido{
    color: #fff;
}