.nlp{
    padding-left: 270px;
    padding-right: 30px;
}
.section{
    /* background-color: slateblue; */
    min-height: 100vh;
}
.content{
    padding-top: 60px;
    padding-bottom: 70px;
    margin: auto;
}

.container{
        max-width: 1100px;
        width: 100%;
        /* background-color: red; */
        margin: auto;
    }
    
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
        margin-right: 15px; 
        /* background-color: red; */
        padding-bottom: 15px;
        width: 100%;
    }


/* ---- --- */
.nlp__contenido{
    /* background-color: red; */
    padding: 40px;
    color: #1a1a1a;
    }
    .nlp__contenido > h3{
        font-size: 20px;
        font-weight: 600;
    }
    .nlp__contenido p{
        text-align: justify;
        font-size: 16px;
        padding-bottom: 10px;
    }
    .repositorios{
        display: grid ;
        grid-template-columns: repeat(12, 1fr);
        width: 90%;
        height: 100%;
        margin: auto;
        gap: 20px;
        overflow: hidden;
        align-items: center;
        /* background-color: red; */
    }

    .items{
        grid-column: 1/-1;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .item{
        /* background-color: red; */
        /* background: #fff; */
        height: 100%;
        width: 45%;
        border: 1px solid #1a1a1a;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        /* height: 220px; */
        padding: 20px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .item .item__content{
        text-align: justify;
        padding:20px 20px;
    }
        .item .item__content h5{
            padding-bottom: 10px;
            font-size: 18px;
            font-weight: 600;
        }
        .item .item__content ul{
            padding-bottom: 10px;
            font-size: 15px;
        }
    
    .item .item__btn a{
        color: #fff;
        display: inline-block;
        border-radius: 5px;
        padding:10px;
        /* align-items:flex-end; */
        background-color: #272343;
    }
        .item .item__btn a:hover{
            background-color: #BAE8E8;
            color: #1a1a1a;
        }

@media (max-width:1199px){
    .nlp{
        padding-left: 0;
    }
    .nlp .nlp__title{
        text-align: center;
    }
    .item{
        width: 90%;
        padding:40px;
        height: auto;
        margin: 40px 0;
    }
}
/* 
@media (max-width:768px){
    .item{
        width: 70%;
    }
} */